body
{  
    background-image:url('bakgrunn.jpg');
    
}
.menybox
{
    margin-left: -0.2%;
    height:8em;
    background: #0066CC;
	margin-top: -2.6%;
    width: 100%;
    text-align: center;
   	border: 0.1em solid black;
    -webkit-border-top-left-radius: 18px;
	-khtml-border-radius-topleft: 18px;	
	-moz-border-radius-topleft: 18px;
	border-top-left-radius: 18px;
    -webkit-border-top-right-radius: 18px;
	-khtml-border-radius-topright: 18px;	
	-moz-border-radius-topright: 18px;
	border-top-right-radius: 18px;

    
}
#meny
{   
    margin-top: -1%;
    margin-left: 22%;
    z-index: 20;
    
    
}
#meny ul
{
	margin:0;
	padding:0;
	line-height: 30px;
    
    
}
#meny li
{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	position:relative;
	background: none;
	
}
#meny ul li a
{
	text-align: center;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	height: 30px;
	width: 110px;
	display:block;
	color: #00F;
	border: 1px solid #000;
	border-radius: 18px;
    -moz-border-radius: 18px;
}
#meny ul ul
{
	position: absolute;
	visibility:hidden;
	top: 32px;
    
}
#meny ul li:hover ul
{
	visibility: visible;
   
}
#meny li:hover
{
	background:none;
	
}
#meny ul li:hover ul li a:hover
{
	
 background: blue;
 color: red;

}
#meny a:hover
{
	text-decoration:underline;
	color: red;
	background: blue;
}

#itravel
{
    width:40%;
    height: 40%;
    margin-top: 1%;
}


#overbodybox
{
    text-align: right;
    color: white;
    padding-bottom: 2%;
    margin-top: -1.5%;
    margin-right: 2%;
         
}

#overbodybox ul
{
    list-style-type: none;
}

#overbodybox li
{
    display: inline;
}

#overbodybox a
{
    color: white;
}

#overbodybox a:hover
{
    color:  red;
}

#overskrift
{
    font-size: 200%;
    text-align: center;
    margin-top: 2%;
}

.bodybox
{
    height:70em;
    background-color: white;
    width: 100%;
    text-align: center;      
    border: 0.1em solid black;
    border-radius: 18px;
    -moz-border-radius: 18px;      
}


#balisurf
{
    height: 35%;
    width: 52%;
    float: right;
    margin-top: 3%;
    margin-right: 4%;
}

.lukk
{
    border-style: inset;
    background: white;
    color: red;
    border-color: red;
    width: 100%;    
}

.hjemknapp
{   
    font-size: 97%;
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
    border-width: 0.13em;
    border-style: inset;
    background: white;
    color: blue;
    text-decoration: none;
    text-align: center;
}



#reisevilkar
{
    text-align: left;
    margin-left: 2%;
}

#omoss
{
    padding-left: 10%;
    padding-right: 10%;
}



#bildevenstre
{
    float: left;
    height: 25%;
    width: 38%;
    padding-right: 5%;
    margin-left: 7%;
    padding-top: 5%;
}

#bildehoyre
{
    float: right;
    height: 25%;
    width: 38%;
    padding-left: 5%;
    margin-right: 7%;
    padding-top: 5%;
}

.overtextmidt
{
    text-align: center;   
    
}
#textmidt
{
    margin-left: 7%;
    margin-right: 7%;
    text-align: left;
    margin-top: 3%;
}

#textundervenstre
{
    float: left;
    margin-left: 18%; 
}

#textunderhoyre
{
    float: right;
    margin-right: 18%;
}

#textboca
{
    float:left;
    margin-left: 9%;
}


#usatext
{
    margin-left: 7%;
    margin-right: 7%;
    text-align: left;
    margin-top: 2%;
}

#usavenstre
{
    float: left;
    height: 25%;
    width: 38%;
    padding-right: 5%;
    margin-left: 7%;
}


#usahoyre
{
    float: right;
    height: 25%;
    width: 38%;
    padding-left: 5%;
    margin-right: 7%; 
}

#usatextvenstre
{
    float:left;
    margin-left: 9%; 
}

#usatexthoyre
{
    float: right;
    margin-right: 15%;
}

#bestilling
{
    margin-left: 2%;
    z-index: 17;
    margin-top: 4%;
    border: 0.2em solid black;
    width: 37%;
    height: 38%;
    padding-top: 2%;
    position: relative;
    background-color: #D1D0D0;
    
}

.tabellbestill
{
   float: left;
}

.tabellbestill2
{
    float: left;
}
#bestilling1
{
    margin-left: 2%;
    z-index: 17;
    margin-top: 4%;
    border: 0.2em solid black;
    width: 37%;
    height: 30%;
    padding-top: 2%;
    position: relative;
    background-color: #D1D0D0;
    
}
#textbox
{
    padding-left: 3.6%;
}
#bestilling2
{
    position: relative;
    z-index: 17;
    margin-top: 4%;
    border: 0.2em solid black;
    width: 38%;
    height: 49%;
    padding-top: 2%;
    background-color: #D1D0D0;
    margin-left: 2%;
    text-align: left;
    padding-left: 1%;
}

#hr
{
  padding-right: 2%; 
}
#bestillher
{
    position: relative;
    z-index: 2;
    top: 2%;    
}

#skjema
{
    margin-left: 32.5%;
    margin-top: 4%;
    border: 0.2em solid black;
    width: 37%;
    height: 40%;
    padding-top: 2%;
    position: relative;
    background-color: #D1D0D0;
}

#itraveloverskrift
{
    margin-top: -5.5%;
    font-size: 2.5em;
    height: 80%;
    color: #FF6F00;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: black 2px 2px, white -2px -2px;
    ;
}
#bodyboxusa
{
    height:90em;
    background-color: white;
    width: 100%;
    text-align: center;      
    border: 0.1em solid black;
    border-radius: 18px;
    -moz-border-radius: 18px;      
}